name: build
run-name: Build PR (${{ github.event.client_payload.detail.pull_request }})
on:
  repository_dispatch:
    types:
      - dependency-review-success

env:
  STATUS_CONTEXT: "Gradle Check"
  LABEL_PREFIX: "build_"

permissions: {}

jobs:
  gradle:
    runs-on: ubuntu-latest
    name: Gradle Check
    permissions:
      contents: write
      pull-requests: write
      issues: write
      statuses: write
    steps:
      - name: Build Pending
        uses: quotidian-ennui/actions-olio/commit-status-and-label@main
        if: |
          github.event.client_payload.detail.pull_request != '' &&
          github.event.client_payload.base.sha != ''
        with:
          state: pending
          sha: ${{ github.event.client_payload.base.sha }}
          context: ${{ env.STATUS_CONTEXT }}
          label_prefix: ${{ env.LABEL_PREFIX }}
      - name: Checkout branch
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.event.client_payload.base.ref }}
          fetch-depth: 0
          persist-credentials: false
      - name: Set up JDK
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          java-version: 21
          distribution: "temurin"
      - name: Setup Gradle
        id: setup_gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0
        with:
          gradle-version: wrapper
      - name: Gradle
        id: gradle
        run: |
          ./gradlew -PdisableSpotlessJava=false check
      - name: Build Result
        if: |
          (success() || failure()) &&
          github.event.client_payload.detail.pull_request != '' &&
          github.event.client_payload.base.sha != ''
        uses: quotidian-ennui/actions-olio/commit-status-and-label@main
        with:
          state: ${{ steps.gradle.outcome }}
          sha: ${{ github.event.client_payload.base.sha }}
          context: ${{ env.STATUS_CONTEXT }}
          label_prefix: ${{ env.LABEL_PREFIX }}

  dependabot_merge:
    runs-on: ubuntu-latest
    name: Dependabot Merge
    permissions:
      contents: write
      pull-requests: write
    needs:
      - gradle
    steps:
      - name: Checkout branch
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.event.client_payload.base.ref }}
          persist-credentials: false
      - name: "Create Token"
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: app-token
        with:
          app-id: ${{ vars.WORKFLOW_UPDATE_APP_ID }}
          private-key: ${{ secrets.WORKFLOW_UPDATE_KEY }}
          owner: ${{ github.repository_owner }}
          repositories: "${{ github.event.repository.name}}"
      - name: Repository Action Merge
        id: action_merge
        uses: quotidian-ennui/actions-olio/dependabot-merge@main
        with:
          token: ${{ steps.app-token.outputs.token }}
          change_filter: ".github/workflows/**"
          merge_commentary: "Merge Workflow Actions"
      - name: Dependabot Merge
        id: merge_gradle_dependencies
        uses: quotidian-ennui/actions-olio/dependabot-merge@main
        with:
          token: ${{ steps.app-token.outputs.token }}
          change_filter: "**/build.gradle,**/build.gradle.kts"
          automerge_level: "semver-patch"
          merge_commentary: "Merge Gradle Dependencies"
          filter_separator: ","
          merge_retry_wait_seconds: 120
