name: docker-image

on:
  workflow_call:
  workflow_dispatch:

permissions: {}

jobs:
  docker-build-image:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Set up JDK
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          java-version: 21
          distribution: "temurin"
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0
        id: gradle
        with:
          dependency-graph: generate-and-submit
      - name: Build
        id: build
        run: |
          ./gradlew build -Dquarkus.package.jar.enabled=true -Dquarkus.package.jar.type=uber-jar
        env:
          DEPENDENCY_GRAPH_INCLUDE_CONFIGURATIONS: runtimeClasspath
      - name: docker-build-push
        uses: quotidian-ennui/actions-olio/docker-image-builder@main
        with:
          registry_push: true
          dockerfile: ./src/main/docker/Dockerfile.jvm-uber
          image_platforms: linux/amd64,linux/arm64/v8
          ghcr_image_name: ghcr.io/${{ github.repository }}
          ghcr_user: ${{ github.repository_owner }}
          ghcr_token: ${{ secrets.GITHUB_TOKEN }}
          cache_from: type=gha
          cache_to: type=gha,mode=max

  docker-build-native:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Set up JDK
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          java-version: 21
          distribution: "temurin"
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0
        id: gradle
      - name: Build
        id: build
        run: |
          ./gradlew build -Dquarkus.package.jar.enabled=false -Dquarkus.native.enabled=true -Dquarkus.native.container-build=true -Dquarkus.native.container-runtime=docker
      - name: docker-build-push
        uses: quotidian-ennui/actions-olio/docker-image-builder@main
        with:
          registry_push: true
          dockerfile: ./src/main/docker/Dockerfile.native-micro
          image_platforms: linux/amd64
          image_tag_suffix: "-native"
          ghcr_image_name: ghcr.io/${{ github.repository }}
          ghcr_user: ${{ github.repository_owner }}
          ghcr_token: ${{ secrets.GITHUB_TOKEN }}
          cache_from: type=gha
          cache_to: type=gha,mode=max
