name: quarkus-update
on:
  workflow_dispatch: null
  schedule:
    - cron: "15 03 * * MON"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  PR_GITHUB_USER: qe-repo-updater[bot] <152897211+qe-repo-updater[bot]@users.noreply.github.com>

permissions: {}

jobs:
  quarkus:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      statuses: write
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Get Token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: app-token
        with:
          app-id: ${{ vars.WORKFLOW_UPDATE_APP_ID }}
          private-key: ${{ secrets.WORKFLOW_UPDATE_KEY }}
          owner: ${{ github.repository_owner }}
          repositories: "${{ github.event.repository.name}}"
      - name: Set up JDK
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          java-version: 21
          distribution: "temurin"
      - name: Gradle Setup
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0
        id: gradle
        with:
          gradle-version: wrapper
      - name: Current Quarkus Version
        id: currentQuarkus
        run: |
          quarkusVersion=$(grep '^quarkusPlatformVersion=' gradle.properties | cut -d'=' -f2)
          echo "release=$quarkusVersion"  >> "$GITHUB_OUTPUT"
      # see https://gist.github.com/bitmvr/9ed42e1cc2aac799b123de9fdc59b016 to do it all in bash?
      - name: Current Quarkus SEMVER
        id: q_semver_current
        uses: release-kit/semver@97491c46500b6e758ced599794164a234b8aa08c # v2.0.7
        with:
          string: "${{ steps.currentQuarkus.outputs.release }}"
      - name: Run QuarkusUpdate
        id: quarkusUpdate
        run: |
          ./gradlew quarkusUpdate --rewrite
      - name: Updated Quarkus Version
        id: latestQuarkus
        run: |
          quarkusVersion=$(grep '^quarkusPlatformVersion=' gradle.properties | cut -d'=' -f2)
          echo "release=$quarkusVersion"  >> "$GITHUB_OUTPUT"
      - name: Latest Quarkus SEMVER
        id: q_semver_latest
        uses: release-kit/semver@97491c46500b6e758ced599794164a234b8aa08c # v2.0.7
        with:
          string: "${{ steps.latestQuarkus.outputs.release }}"
      - name: Build PR title
        id: pr_title
        run: |
          msg="bump quarkus from ${{ steps.currentQuarkus.outputs.release }} to ${{ steps.latestQuarkus.outputs.release }}"
          if [[ "${{ steps.q_semver_latest.outputs.major }}" != "${{ steps.q_semver_current.outputs.major }}" ]]; then
            echo "msg=feat(quarkus)!: $msg" >> "$GITHUB_OUTPUT"
          elif [[ "${{ steps.q_semver_latest.outputs.minor }}" != "${{ steps.q_semver_current.outputs.minor }}" ]]; then
            echo "msg=feat(quarkus): $msg" >> "$GITHUB_OUTPUT"
          else
            echo "msg=deps(quarkus): $msg" >> "$GITHUB_OUTPUT"
          fi
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8.1.0
        with:
          token: ${{ steps.app-token.outputs.token }}
          committer: ${{ env.PR_GITHUB_USER }}
          author: ${{ env.PR_GITHUB_USER }}
          commit-message: "${{ steps.pr_title.outputs.msg }}"
          branch: deps/quarkus-${{ hashFiles('**/gradle.properties') }}
          title: "${{ steps.pr_title.outputs.msg }}"
          labels: dependencies
          reviewers: ${{ github.repository_owner }}
          body: |
            Automated upgrade to Quarkus ${{ steps.latestQuarkus.outputs.release }}.

            [Workflow Run](https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}).
